@font-face {
  font-family: SF Pro;
  src: url(.*/font*/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SF Pro;
  src: url(.*/font*/SFPRODISPLAYBOLD.OTF);
  font-weight: bold;
}
@font-face {
  font-family: SF Pro;
  src: url(.*/font*/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 600;
}
:root {
}

/* <!-- DESKTOP FULL PAGE OR ABOUT PAGE --> */

/* <!-- HERO SECTION = ZEUHZ --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- WHO ARE WE = ZION --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- SERVICES = DEARIE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- WORKS = JOHN --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- CTA = FARUQ --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- JOB = JOSHUA --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- CTA & FOOTER = KENE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END -->  */

/*///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////// */


 /* <!-- DESKTOP CASE STUDY OR ABOUT PAGE --> */

/* <!-- HERO SECTION = ZEUHZ, DEARIE & GHAFFAR --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- OVERVIEW = DARLENE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- BY THE NUMBERS = ADETOYE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- LOOK AND FEEL = GHAFFAR --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- CTA = FARUQ && JOHN --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- RECENT WORKS = ZION, JOSHUA & DARLENE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- CTA & FOOTER = KENE & ADETOYE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END -->  */
