/* GENRAL PAGES VARIABLES */

:root {
  /* APPEND ANY VARIABLES YOU THINK CAN BE GENERAL HERE */
  --color-primary: #5468e7;
  --text-dark: #000000;

  --text-body-dark-mode: #8b8b8b;
  --text-body-light-mode: #606060;
  --color-white: #ffffff;

  --button-white-shadow: #232340;
  --color-dark: #232340;
  --circle-arrow: #c897e4;

  --footer-blue: #5468e7;
  --footer-purple: #c897e4;
  --color-white: #fff;
  --gradient-gradient2: linear-gradient(180deg, #3a8fff 0%, #0837ae 100%);
  /* --logo-bg-color: #908cff; */
}

/* <!-- DESKTOP FULL PAGE OR ABOUT PAGE --> */
/* GENERAL STYLE FOR PAGE LAYOUT AND RESPONSIVENESS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px =1rem */
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 1.6rem;
  color: var(--color-white);
}

.container {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
}

/* <!-- HERO SECTION = ZEUHZ --> */
#hero-header {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  overflow: hidden;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.scroll--text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--text-body-dark-mode);
}

.scroll--text.tab {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.navigation__logo--icon {
  width: 4rem;
  height: 4rem;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
}

.navigation__logo--text {
  display: flex;
  align-items: baseline;
  gap: 0.1rem;
  width: 100%;
  height: 100%;
}

.navigation__logo--content,
.navigation__logo-dot {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.navigation__logo--mobile {
  display: none;
  transition: all 0.2s;
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.navigation__item {
  padding: 1rem;
  position: relative;
}

.navigation__link:link,
.navigation__link:visited {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--text-body-dark-mode);
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s;
}

.navigation__link:active,
.navigation__link:hover {
  color: var(--text-body-light-mode);
}

.navigation--notification {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  position: absolute;
  top: -5%;
  right: -35%;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  color: var(--color-white);
  background: var(--gradient-gradient2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__social,
.navigation__checkbox,
.navigation__button,
.navigation__background {
  display: none;
}

/* BUTTON SECTION */
.btn {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--color-white);
  text-align: center;
}

.btn--contact {
  padding: 2rem 4.4rem;
  border-radius: 0.8rem;
  background-color: var(--button-white-shadow);
  transition: all 0.2s;
  white-space: nowrap;
}

.btn--contact:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 2rem 1rem -2rem #8b8b8b;
}

.btn--contact:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2rem 1rem -3rem #8b8b8b;
}

.btn--colored {
  padding: 2rem 3.8rem;
  border-radius: 0.8rem;
  align-self: flex-start;
  border: 2px solid transparent;
  background-color: var(--color-primary);
  transition: all 0.2s;
}

.btn--colored:hover,
.btn--colored:active {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  background-color: var(--color-white);
}

.btn--scroll {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-white);
  border-radius: 50%;
  background-color: var(--circle-arrow);
}
/* END */

/* UTILITY SECTION FOR HERO OR POSSIBLE OTHER SECTIONS */
#current {
  color: var(--color-primary);
}

.heading--1 {
  font-style: normal;
  font-weight: 700;
  font-size: 8.4rem;
  line-height: 10rem;
  letter-spacing: -0.1rem;
  color: var(--color-dark);
}

/* END */

/* HEADER CONTINUES -- HEADER CONTENT */

.header__hero {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

  overflow: hidden;
}

.header__content {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.header__content--text {
  width: 62%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--text-body-light-mode);
}

.header__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.header__figure-bg {
  width: 100%;
  height: 100%;
}

.header__figure-hero {
  position: absolute;
  top: 5%;
  right: -3%;
  width: 160%;
  height: 100%;
}

.header__image--bg,
.header__image--hero {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.header__path {
  position: absolute;
  top: 0;
  right: 35%;
  z-index: -100;
}

/* MEDIA QUERIES */

/* FOR TABLET IN LANDSCAPE ----- (< 1200PX)*/
@media screen and (max-width: 75em) {
  .heading--1 {
    font-size: 6.4rem;
    line-height: 7.2rem;
    letter-spacing: -0.05rem;
  }

  .scroll {
    bottom: 5%;
  }

  .scroll--text {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .scroll--text.desktop {
    display: none;
  }

  .scroll--text.tab {
    display: block;
  }

  .navigation__list {
    gap: 3rem;
  }

  .header__content {
    padding-top: 3rem;
    gap: 3rem;
  }

  .header__path {
    right: 30%;
  }
}

/* MEDIA QUERIES FOR TABLET IN PORTRAIT */
@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .scroll {
    display: none;
  }

  .navigation__list {
    gap: 2rem;
  }

  .header__content {
    padding-top: 1rem;
    gap: 3rem;
  }
}
/* ANIMATIONS SECTION */
/* END */

/* FOR MOBILE DEVICES ---- < 600PX */
@media screen and (max-width: 37.5em) {
  html {
    font-size: 62.5%;
  }

  #hero-header {
    padding: 0rem;
    gap: 0rem;
  }

  .scroll {
    display: none;
  }

  .header__hero {
    width: 100vw;
    overflow: hidden;
  }

  .heading--1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.05rem;
  }

  .header__hero {
    padding: 3rem;
    padding-top: 0rem;
  }

  .header__content {
    padding-top: 7rem;
    gap: 2rem;
  }

  .header__content--text {
    width: 82%;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .header__image {
    position: relative;
    top: -10%;
    z-index: -50;
  }

  .header__figure-bg {
    transform: translateX(35%);
  }

  .header__figure-hero {
    top: 10%;
    right: -35%;
  }

  .header__path {
    top: -10%;
    left: 50%;
    opacity: 0.2;
    z-index: -70;
    width: 70%;

    transition: all 0.3s;
  }

  /* STYLES FOR THE MOBILE MENU-TOGGLE BUTTTON */
  .navigation {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5rem 3rem 1rem;
    position: relative;
  }

  .navigation__logo {
    position: absolute;
    top: 5rem;
    z-index: 5000;
  }

  .navigation__logo--icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .navigation__contact {
    display: none;
  }

  .navigation__checkbox {
    position: absolute;
    top: 6.2rem;
    right: 4.2rem;
    display: none;
  }

  .navigation__button {
    display: block;
    z-index: 10000;
  }

  .navigation__icon {
    position: absolute;
    top: 6.2rem;
    right: 6.2rem;
  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: " ";
    position: absolute;
    right: -3rem;
    display: inline-block;
    width: 3.2rem;
    height: 0.2rem;
    background-color: var(--color-dark);
    z-index: 5000;
    transition: all 0.2s;
  }

  .navigation__icon::before {
    top: 1rem;
  }

  .navigation__background {
    display: block;
    width: 0;
    height: 100vh;
    background-color: var(--color-dark);

    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 3700;
  }

  .navigation__content {
    position: absolute;
    top: 310%;
    left: 5%;
    height: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    gap: 10rem;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .navigation__link:link,
  .navigation__link:visited {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.05rem;
    color: var(--text-body-dark-mode);
    transition: all 0.2s;
  }

  .navigation__link:active {
    color: var(--color-white);
  }

  .navigation--notification {
    display: none;
  }

  .navigation__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2rem;
    gap: 3rem;
  }

  .navigation__social--icon {
    padding: 2rem;
    border-radius: 50%;
    border: 0.1rem solid var(--text-body-dark-mode);
  }

  #current {
    color: var(--color-white);
  }

  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before,
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    background-color: var(--color-white);
  }

  .navigation__checkbox:checked
    ~ .navigation__button
    .navigation__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }

  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    transform: rotate(135deg);
    top: 0;
  }

  .navigation__checkbox:checked ~ .navigation__background {
    width: 100vw;
    position: fixed;
  }

  .navigation__checkbox:checked
    ~ .navigation__logo
    .navigation__logo--text
    .navigation__logo--content {
    display: none;
  }

  .navigation__checkbox:checked
    ~ .navigation__logo
    .navigation__logo--text
    .navigation__logo--mobile {
    display: block;
  }

  .navigation__checkbox:checked ~ .navigation__content {
    opacity: 1;
    visibility: visible;
    height: max-content;
  }

  .navigation__checkbox:checked ~ .header__path {
    top: 0;
    left: 30%;
    opacity: 1;
    z-index: 4000;
  }
}

@media screen and (max-width: 18em) {
  html {
    font-size: 48%;
  }
}
/* <!-- END --> */

/* <!-- WHO ARE WE = ZION --> */
/* i'm using the acronym for 'who are we' => 'waw' for both my styling and the images */
.waw {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

.waw-container {
  padding: 9rem;
  background-color: var(--color-dark);
  background-image: url(./img/waw-line.svg);
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
  background-size: 150%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-columns: minmax(50px, auto);
  margin-top: 5rem;
  background-color: var(--color-dark);
  z-index: -1;
  position: relative;
  width: 100vw;
}
.waw-logo {
  grid-column: 1/2;
}
.waw-image-desktop img {
  width: 100%;
}

.waw-waw {
  grid-column: 3/6;
  color: var(--color-white);
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.waw-waw span {
  color: #8b8b8b;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.waw-large-text {
  grid-row: 2/3;
  grid-column: 3/10;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10rem;
}
.waw-arrows {
  grid-row: 2/3;
  grid-column: 11/13;
  margin: 0 4rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  min-width: 50px;
}
.waw-arrows img {
  width: 80%;
}
.waw-arrow-right {
  background-color: #5468e7;
  padding: 1.5rem 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.waw-image-desktop {
  grid-column: 3/13;
  grid-row: 7/15;
}
.waw-3d img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
  width: 50%;
  top: 0;
  right: 0;
  z-index: -1;
}
.waw-years {
  grid-row: 7/15;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5rem;
}
.waw-group-text {
  grid-row: 18/25;
  grid-column: 3/8;
  margin-top: 10rem;
}
.waw-number-t {
  grid-column: 10/13;
  grid-row: 18/25;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.waw-number {
  font-size: 13rem;
  margin-top: 10rem;
}
.waw-little-text {
  color: #8b8b8b;
  font-size: 1.5rem;
  line-height: 1.5;
}
.waw-small-text {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.waw-number-oval {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 350px;
}

/* .waw-small-text::before{
content:' ';
position: absolute;
width: 10px;
height: 30px;
color: white;
top: 0;
left: 50px;
} */
.waw-button {
  background-color: #5468e7;
  padding: 1rem 2rem;
  color: white;
  border: none;
  border-radius: 0.7rem;
  margin-top: 2rem;
  font-weight: bold;
}
.waw-caret-down {
  display: none;
}

@media (max-width: 600px) {
  .waw-container::-webkit-scrollbar {
    width: 0;
  }
  .waw-container {
    padding: 5rem 2rem;
    overflow-y: hidden;
    margin: 0;
  }
  .waw-years-list {
    display: none;
  }
  .waw-logo {
    display: none;
  }
  .waw-large-text {
    font-size: 3rem;
    grid-column: 1/10;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .waw-button {
    padding: 1.5rem 3rem;
  }
  .waw-3d {
    display: none;
  }
  .waw-waw {
    grid-column: 1/8;
  }
  .waw-arrows {
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 1rem 0;
  }
  .waw-image-desktop {
    grid-column: 1/13;
    display: flex;
    justify-content: center;
  }
  .waw-image-desktop img {
    width: 175%;
    flex-shrink: 0;
  }
  .waw-group-text {
    margin: 0;
    grid-column: 1/13;
  }
  .waw-number-t {
    grid-column: 2/12;
    flex-shrink: 1;
    grid-row: 25;
    margin-bottom: 10rem;
  }
  .waw-number-oval {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 400px;
  }
  .waw-years {
    z-index: 1;
    grid-column: 5/13;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  .waw-y-five {
    display: block;
    z-index: 1;
    font-size: 2rem;
  }
  .waw-caret-down {
    display: block;
    font-size: 5rem;
    align-self: center;
    margin-bottom: -3rem;
    color: white;
    font-weight: 200;
  }
}
/* <!-- END --> */

/* <!-- SERVICES = DEARIE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- WORKS = JOHN --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- CTA = FARUQ --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- JOB = JOSHUA --> */
.jobs {
  width: 100vw;
  max-width: 100%;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(237, 229, 240, 0.504289) 100%
  );
  overflow: hidden;
}

.section__jobs {
  width: 80vw;
  margin: 0 auto;
  padding: 6rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  position: relative;
}

.sub-section-1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-direction: column;
  justify-items: flex-start;
  padding: 4rem;
  width: auto;
  overflow: hidden;
  gap: 1.5rem;
}

.section__jobs--col1 {
  display: flex;
  justify-content: flex-start;
}

.section__jobs--logo {
  height: 2rem;
  width: 2rem;
  background-color: var(--color-primary);
  padding: 3px;
  margin-right: 6rem;
}

.job-title {
  font-size: 1.8rem;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.job-title span {
  margin-right: 1rem;
}

.heading--11 {
  font-style: normal;
  font-weight: 700;
  font-size: 11rem;
  line-height: 10rem;
  letter-spacing: -0.1rem;
  color: var(--color-dark);
}

.section__jobs--text {
  font-size: 1.8rem;
  color: var(--text-body-dark-mode);
  text-align: start;
  margin: 3rem 0;
}

.section__jobs-col2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cta-btn {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.jobs-btn {
  background-color: var(--circle-arrow);
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: none;
}

.figure-box {
  background-color: #fff;
  padding: 5rem 4rem;
  border-radius: 3rem;
  box-shadow: 0 0.3rem 6rem rgba(0, 0, 0, 0.1);
}

.figure-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 1.5rem;
}

.josh {
  color: orangered;
}

.figure-box p,
span {
  font-size: 1.8rem;
  color: var(--text-body-dark-mode);
}

.arrow-right {
  width: 2rem;
  stroke: var(--text-body-dark-mode);
  height: 2rem;
}

.tablet-text {
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-items: flex-start;
  padding: 4rem;
  overflow: hidden;
  gap: 1.5rem;
}

.unique {
  color: #fff !important;
}

.tablet-box {
  height: 16rem;
  width: auto;
  overflow: hidden;
  background-color: #232340;
  padding: 0 0;
  transform: translate(-1rem);
}

.tablet-box img {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 3rem;
  align-self: stretch;
}

.blue-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232340;
  padding: 0 0;
}

.tablet {
  white-space: nowrap;
}

.heading--4 {
  font-size: 3.2rem;
  color: var(--color-dark);
  position: relative;
  white-space: nowrap;
}

.curly {
  position: absolute;
  top: 0;
  left: 25rem;
  z-index: -1;
}

.curly-path {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.notify {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  position: absolute;
  top: -5%;
  right: -15%;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  color: var(--color-white);
  background: linear-gradient(180deg, #3a8fff 0%, #0837ae 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 37.5em) {
  .blue-box {
    width: 140%;
    padding: 2rem 3rem !important;
  }

  .blue-box .tablet-text {
    width: 75%;
    padding: 0;
  }

  .tablet-box {
    padding: 1rem;
  }

  .figure-box {
    padding: 3rem 4rem;
  }

  .heading--4 {
    font-size: 2.5rem;
  }

  .notify {
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
    right: -18%;
  }

  .logo {
    display: none;
  }
}

/* <!-- END --> */

/* <!-- CTA & FOOTER = KENE --> */
.lastCTA__container {
  background-color: var(--footer-blue);
  width: 70%;
  margin: 3rem auto;
  padding: 7rem 0 0;
  border-radius: 40px;
  text-align: center;
  height: 80vh;
  display: grid;
  grid-template-rows: 5rem 8rem 15rem 1fr;
  /* background-image: to right bottom url(img/hero-path.svg); */
  /* background-image: linear-gradient(to right bottom, #fffdfd0e, #fffdfd0e),
    url(img/hero-path.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; */
}

.folio-cta-logo {
  background-color: var(--footer-purple);
  padding: 0.2rem;
  border-radius: 5px;
}

.lastCTA__greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.logo-box {
  display: flex;
  justify-content: center;
}

.speechbubble {
  display: none;
}

.hello-icon {
  margin-right: 0.5rem;
}

.lastCTA__about--content {
  font-size: 3rem;
  width: 40%;
  line-height: 1.3;
  margin: 2rem auto 5rem;
}

.lastCTA__main-content {
  display: grid;
  margin: 10rem 0 0;
  grid-template-columns: 1fr 1fr;
}

.left-side {
  border-top: 0.3px solid rgba(199, 196, 196, 0.192);
  border-right: 0.3px solid rgba(199, 196, 196, 0.192);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: left;
}

.left-side > h2 {
  margin-top: -1rem;
  padding: 0 1rem;
  width: 40%;
}

.right-side {
  border-top: 0.3px solid rgba(199, 196, 196, 0.192);
  border-left: 0.3px solid rgba(199, 196, 196, 0.192);
  text-align: left;
  padding: 5rem 0 2rem 8rem;
  font-size: 3rem;
  font-weight: bold;
  transition: all 1s ease-in;
}

.contact-button {
  display: none;
  color: var(--footer-blue);
  background-color: var(--color-white);
  padding: 1.5rem 10rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0.1rem 0.1rem 20rem rgba(0, 0, 0, 0.438);
  font-size: 1.5rem;
  cursor: pointer;

  /* width: 50%; */
}

.contact-button:hover {
  transform: translateY(-1px);
}

.contact-button:active {
  transform: translateY(1px);
}

.second {
  display: flex;
  align-items: center;
}

.next-step {
  text-decoration: none;
}

.next__button {
  background-color: transparent;
  border: 0.1px solid var(--color-white);
  border-radius: 50%;
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 2rem;
  padding-bottom: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text2 {
  width: 60%;
}

.bubble {
  width: 85px;
  height: 80px;
}

.footer {
  text-align: center;
  padding: 2rem 0;
  width: 60%;
  margin: 0 auto;
}

.folio-footer-logo {
  background-color: var(--footer-blue);
  padding: 0.2rem;
  border-radius: 5px;
}

.folio-footer-name {
  margin-left: 0.5rem;
}

.footer__about {
  padding: 3rem 0;
}

.footer-text {
  color: #606060;
  width: 45%;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.5;
}

.footer__nav-container {
  display: flex;
  justify-content: space-evenly;
  width: 43%;
  padding: 0.5rem 0 4rem;
  margin: 0 auto;
}

.footer__list,
.socials__list {
  list-style: none;
}

.footer__info {
  border-top: 1px solid #dddcdc;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer__link,
.socials__link {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 1.8rem;
}

.footer__link:hover,
.socials__link:hover {
  color: var(--footer-blue);
}

.copywright {
  color: #a09f9f;
}

.socials-container {
  display: flex;
  align-items: center;
}

.socials__link {
  padding: 0 1rem;
}

.socials__icon {
  fill: #b3b1b1;
}

.facebook:hover {
  fill: var(--footer-blue);
}

.youtube:hover {
  fill: rgb(236, 73, 73);
}

.instagram:hover {
  fill: rgba(248, 2, 248, 0.76);
}

@media only screen and (max-width: 1460px) {
  .lastCTA__container {
    width: 80%;
  }

  .lastCTA__main-content {
    margin: 5rem 0 0;
  }

  .left-side {
    font-size: 2.5rem;
  }

  .right-side {
    padding: 4rem 0 2rem 7rem;
  }

  .next__button {
    margin-left: 4rem;
  }

  .footer {
    width: 70%;
  }
}

@media only screen and (max-width: 1300px) {
  .lastCTA__about--content {
    width: 50%;
  }

  .left-side > h2 {
    width: 45%;
  }

  .right-side {
    padding: 4rem 0 2rem 7rem;
  }
}

@media only screen and (max-width: 1200px) {
  .lastCTA__container {
    width: 90%;
    height: 80vh;
  }

  .left-side > h2 {
    width: 50%;
  }

  .footer-text {
    width: 53%;
  }

  .footer {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .lastCTA__container {
    width: 95%;
  }

  .lastCTA__about--content {
    width: 60%;
  }

  .footer {
    width: 85%;
  }

  .footer-text {
    width: 65%;
  }

  .footer__nav-container {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .text2 {
    width: 70%;
  }

  .next__button {
    margin-left: 2rem;
  }

  .left-side > h2 {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .lastCTA__about--content {
    width: 70%;
  }

  .left-side > h2 {
    width: 70%;
    padding: 0 0 0 1rem;
  }

  .right-side {
    padding: 3rem 0 2rem 4rem;
  }
  .footer__nav-container {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .left-side {
    font-size: 2.2rem;
  }

  .right-side {
    padding: 3rem 0 1rem 2rem;
  }

  .text2 {
    width: 80%;
  }

  .next__button {
    margin: 0;
  }

  .bubble {
    width: 70px;
    height: 65px;
  }

  .footer-text {
    width: 75%;
  }
}

@media only screen and (max-width: 650px) {
  .speechbubble {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: 5rem;
  }

  .folio-cta-logo {
    display: none;
  }

  .lastCTA__container {
    height: 100vh;
  }

  .lastCTA__about--content {
    font-size: 3.3rem;
    margin: 2rem auto 3rem;
  }

  .lastCTA__main-content {
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    padding: 0;
  }

  .left-side {
    border: none;
    border-top: 1px solid rgba(199, 196, 196, 0.192);
    margin: 0 auto;
    margin-top: 10rem;
    width: 100%;
    padding: 0;
    font-size: 3rem;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .left-side > h2 {
    line-height: 5rem;
  }

  .right-side {
    border: none;
    display: none;
  }

  .contact-button {
    display: block;
    margin-top: 5rem;
  }

  .footer-text {
    width: 90%;
  }

  .footer__nav-container {
    width: 90%;
  }

  .footer__info {
    border: none;
    flex-direction: column-reverse;
    align-items: center;
  }

  .special-case {
    display: none;
  }

  .copy-box {
    padding: 4rem 0 2rem;
  }

  .socials__icon {
    border: 0.1px solid #b3b1b1;
    border-radius: 50%;
    padding: 0.2rem;
  }

  .facebook:active {
    fill: var(--footer-blue);
  }

  .youtube:active {
    fill: rgb(236, 73, 73);
  }

  .instagram:active {
    fill: rgba(248, 2, 248, 0.76);
  }
}

@media only screen and (max-width: 600px) {
  .lastCTA__about--content {
    font-size: 2.5rem;
  }

  .left-side {
    margin-top: 0;
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 450px) {
  .speechbubble {
    margin-left: 2rem;
  }

  .lastCTA__about--content {
    font-size: 2.3rem;
    margin: 1rem auto 1rem;
    width: 85%;
  }

  .left-side {
    padding: 5rem 0 1rem;
    font-size: 2.3rem;
  }

  .left-side > h2 {
    line-height: 4rem;
  }

  .footer-text {
    width: 100%;
  }
}
/* <!-- END -->  */

/*///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////// 


 /* <!-- DESKTOP CASE STUDY OR WORK PAGE --> */

/* <!-- HERO SECTION = ZEUHZ, DEARIE & GHAFFAR --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- OVERVIEW = DARLENE --> */
.overview {
  width: 100vw;
  max-width: 100%;
  color: var(--text-dark);
  padding: 10 rem 0;
  margin-bottom: 10rem;
  margin-top: 10rem;
}
.overview__wrapper {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 10rem;
}
.overview__left__side {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}
.overview__image {
  background-color: var(--footer-purple);
  height: 468px;
  width: 468px;
  border-radius: 50%;
  margin-bottom: 10rem;
}
.overview__img {
  transform: translateX(-13rem);
}
.overview__btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  /* margin-left: -14rem; */
}
.overview__btn {
}
.overview__right__side {
  display: flex;
  flex-direction: column;
}
.overview__title {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.number__one {
  margin-right: 3rem;
  color: #8b8b8b;
}
.overview__view {
  color: #5468e7;
}
.right__side__two {
  /* font-family: SF Pro Display; */
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.2rem;
  margin-bottom: 5rem;
}
.right__side__three {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #8b8b8b;
  margin-bottom: 5rem;
}
.right__side__four {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--text-dark);
}
.right__side__five {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.power__part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 26.5rem;
  height: 36rem;
  border: 0.1rem solid #8b8b8b;
  border-radius: 3rem;
  /* background-color: #ffffff; */
}
.power__buttn {
  height: 12.8rem;
  width: 12.8rem;
  border-radius: 50%;
  background-color: #ffc0a5;
}
.speech-buttn {
  background-color: #ffadd0;
}
.power__buttn__img {
  transform: translate(1.5rem, 2rem);
}
.speech__buttn__img {
  transform: translate(3rem, 3rem);
}

.label {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #5468e7;
}
/* <!-- END --> */

/* <!-- BY THE NUMBERS = ADETOYE --> */

.by-the-numbers {
  position: relative;
  margin: 2rem auto;
  background-color: var(--color-dark);
  width: 100%;
}

.bg-path {
  overflow: hidden;
}

.bg-shape {
  position: absolute;
  right: 0;
  max-width: 75%;
  top: -3.966rem;
  overflow: hidden;
}

.flex {
  display: flex;
  gap: 1rem;
}

.header-tag-container {
  position: absolute;
  top: 12.834rem;
  width: 100%;
}

.content-container {
  position: relative;
  width: 85%;
  max-width: 117rem;
  margin: 0 auto;
}

.headline-tag-container {
  position: relative;
  width: 70%;
  height: auto;
  gap: 17.96rem;
}

.tag-logo {
  display: none;
}

.logo-img {
  width: 2.4rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 0.6rem;
}
.logo-img img {
  width: 70%;
}

.tagline {
  font-size: 1.4rem;
}
.tagline span {
  color: var(--text-body-dark-mode);
  margin-right: 1em;
}
.headline {
  font-size: 4rem;
}

.tag-details {
  flex-direction: column;
  gap: 2.4rem;
}

.numbers-card-container {
  flex-direction: column-reverse;
  gap: 4rem;
  width: 100%;
}

.numbers-card {
  width: 100%;
}

.numbers-card-head {
  position: relative;
  font-size: 14rem;
}

.numbers-card-head span {
  position: relative;
  top: -8.5rem;
  font-size: 4.551rem;
}

.numbers-card-title {
  font-size: 1.8rem;
}

.numbers-card-title::after {
  content: "";
  display: block;
  margin: 3.2rem 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-body-light-mode);
}

.numbers-card-desc {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--text-body-dark-mode);
}

.numbers-card-cta {
  margin-top: 5.5rem;
  align-items: center;
}

.arrow-btn {
  width: 3.413rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers-card-cta-text {
  font-size: 1.6rem;
}

.indicators-options-container {
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
  padding: 1rem 0;
  margin-top: 4rem;
}

.indicator-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.indicator {
  display: inline-flex;
  align-items: center;
}

.indicator-circle {
  width: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-white);
}

.indicator-active {
  outline: 0.2rem solid var(--color-primary);
}

.indicator + .indicator {
  width: 100%;
}
.indicator + .indicator::before {
  content: "";
  position: relative;
  display: block;
  width: 99%;
  height: 0.1rem;
  background-color: var(--text-body-light-mode);
}

.indicator-text-container {
  display: flex;
  justify-content: space-between;
}

.options-mobile-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.arrow-left {
  background: none;
}

.options-dropdown {
  background-color: #303055;
  padding: 0.7em 1.2em;
  border-radius: 0.5rem;
}

.pointer-container {
  display: flex;
  align-items: center;
}

.slider-container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  position: relative;
  bottom: -7.6rem;
}

.slider {
  position: relative;
  justify-content: flex-end;
  gap: 0;
}

.slide-img {
  position: relative;
  display: flex;
}

.slide-img img {
  max-width: 100%;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 600px) {
  .headline-tag-container {
    width: 100%;
  }
  .tag-logo {
    display: block;
  }
  .tagline {
    font-size: 1.8rem;
  }
  .headline-tag-content {
    flex-direction: row;
    gap: 8rem;
  }
  .headline {
    font-size: 6.4rem;
  }
  .numbers-card {
    width: 26.7rem;
  }
  .numbers-card-container {
    width: 65%;
    margin: 0 auto;
    flex-direction: row;
    gap: 15.6rem;
  }
  .numbers-card-head {
    font-size: 20rem;
  }
  .numbers-card-head span {
    top: -11.5rem;
    font-size: 6.4rem;
  }
  .numbers-card-title {
    font-size: 2.4rem;
  }
  .numbers-card-title::after {
    margin: 6.4rem 0;
  }
  .numbers-card-desc {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .card-2 {
    position: relative;
    top: -11.34rem;
  }
  .tag-logo-text {
    display: none;
  }
  .arrow-btn {
    width: 4.8rem;
  }
  .numbers-card-cta-text {
    font-size: 1.8rem;
  }
  .indicators-options-container {
    width: 65%;
    margin: 0 auto;
    margin-top: 6.5rem;
  }
  .options-mobile-container {
    display: none;
  }
  .slider-container {
    bottom: -12.8rem;
    width: 85%;
  }
  .slider {
    justify-content: space-between;
  }

  .hide-on-mobile {
    display: flex;
  }
}

@media (min-width: 600px) and (max-width: 1204px) {
  .headline-tag-container {
    gap: 7.96rem;
  }

  .numbers-card-container {
    width: 80%;
  }
  .slide-img img {
    width: 95%;
    margin: auto;
  }
}

/* <!-- END --> */

/* <!-- LOOK AND FEEL = GHAFFAR --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- CTA = FARUQ && JOHN --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END --> */

/* <!-- RECENT WORKS = ZION, JOSHUA & DARLENE --> */

/* <!-- END --> */

/* <!-- CTA & FOOTER = KENE & ADETOYE --> */
/* <!-- WRITE CODE HERE --> */
/* <!-- END -->  */
